.regformclass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image:url("../../assets/images/regbg7.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;
  

}

.itemsregform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 40%;
  margin:auto;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: rgb(88,69,186); */
  border-radius: 50px 50px 40px 40px;
}
.itemsregform input{

  border: none;
  outline: none; 
  width: 80%;
  height: auto;
  margin: 10px;
  border-radius: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btnclass{
   
  background-color: white;
  width: 80px;
  font-size: 12px;
  padding: 3px;
  border: 5px solid white;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media all and (min-width: 1024px) and (max-width: 1280px) {


 }

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { 
  .itemsregform{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 80%;
      margin:auto;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      /* background-color: rgb(88,69,186); */
      border-radius: 50px 50px 40px 40px;
    }
    .itemsregform input{
    
      border: none;
      outline: none; 
      width: 80%;
      height: auto;
      margin: 10px;
      border-radius: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .btnclass{
       
      background-color: white;
      width: 80px;
      font-size: 12px;
      padding: 3px;
      border: 5px solid white;
      border-radius: 18px;
      margin-top: 15px;
      margin-bottom: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }
}

@media all and (max-width: 480px) { 

  .itemsregform{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 100%;
      margin:auto;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.2);
      /* background-color: rgb(88,69,186); */
      border-radius: 50px 50px 40px 40px;
    }
    .itemsregform input{
    
      border: none;
      outline: none; 
      width: 80%;
      height: auto;
      margin: 10px;
      border-radius: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 12px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .btnclass{
       
      background-color: white;
      width: 10px;
      font-size: 12px;
      padding: 3px;
      border: 5px solid white;
      border-radius: 18px;
      margin-top: 15px;
      margin-bottom: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

}